*{
  margin:0px;
  
}
body{
  background-color: #f5f6fa;
}
.app_header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:20px ;
}
.app_stats{
  display: flex;
  justify-content: space-between;
}
.app{
  display: flex;
  justify-content: space-evenly;
  padding:20px;
}
@media(max-width:990px) {
  .app{
    flex-direction: column;
  }

}
.app_left{
  flex:1;
}

*{
  margin:0;
  padding:0;
  text-decoration: none;
}
.container{
  display:flex;
}
main{
  width: 100%;
  padding: 20px;
}
.sidebar{
  background: #000;
  color: #fff;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;
}
.top_section{
  display: flex;
  align-items:center;
  padding:20px 15px;
}
.logo{
  font-size: 30px;
}
.bars{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}

@media screen and (max-width: 992px) {
  .bars {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .app_stats{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.link{
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover{
  background:lightskyblue;
  color: #000;
  transition: all 0.5s;
}
.active{
  background: lightskyblue;
  color: #000;
}
.icon, .link_text{
  font-size: 20px;
}